.aside-menu .menu-nav > .menu-item > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-text:hover {
  color: gold !important;
}
.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item
  > .menu-heading
  .menu-text,
.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item
  > .menu-link
  .menu-text {
  /*color: gold !important;*/
  color: #cbdaf9 !important;
}
.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item.menu-item-active
  > .menu-heading
  .menu-text,
.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item.menu-item-active
  > .menu-link
  .menu-text {
  color: #ffffff !important;
}
.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item
  > .menu-heading
  .menu-text,
.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item
  > .menu-link
  .menu-text:hover {
  color: orange !important;
}

#kt_header {
  height: 0px !important;
}
.header-fixed.subheader-fixed .subheader {
  top: 0px !important;
  height: 0px !important;
}
#kt_subheader {
  display: none !important;
}
.sticky-toolbar {
  display: none !important;
}
.breadcrumb.breadcrumb-dot .breadcrumb-item:after {
  content: "\002F" !important;
  padding-left: 0.5rem;
  color: #b5b5c3 !important;
}
.aside-menu .menu-nav > .menu-item > .menu-heading .menu-arrow:before,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-arrow:before {
  color: #ffffff !important;
}
.brand-border {
  border-top: 0.5px solid #cbdaf9 !important;
}
.auth-user {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 7px;
}
.img-auth-user {
  width: 40px !important;
}

.aside-minimize:not(.aside-minimize-hover) .auth-user .auth-info {
  display: none;
}
.aside-minimize:not(.aside-minimize-hover) .auth-user {
  background: unset;
}
.aside-minimize:not(.aside-minimize-hover) .auth-user .img-auth-user {
  width: 25px !important;
}
.spinner-table-loading {
  position: absolute !important;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
}
.dashboard-spinner {
  position: absolute !important;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
  margin-top: 23%;
}

/*Custom*/
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}

.table-responsive::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
  background-color: #f5f5f5 !important;
}
.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1) !important;
  background-color: #cbdaf9 !important;
}
.table-responsive {
  scrollbar-color: #cbdaf9 #f5f5f5 !important;
}
.scroll-custom::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
  background-color: #f5f5f5 !important;
}
.scroll-custom::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1) !important;
  background-color: #cbdaf9 !important;
}
.scroll-custom {
  scrollbar-color: #cbdaf9 #f5f5f5 !important;
}

.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item.menu-item-active
  > .menu-heading
  .menu-bullet.menu-bullet-dot
  > span,
.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item.menu-item-active
  > .menu-link
  .menu-bullet.menu-bullet-dot
  > span {
  background-color: #ffffff !important;
}
.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item
  > .menu-heading
  .menu-bullet.menu-bullet-dot
  > span,
.aside-menu
  .menu-nav
  > .menu-item
  .menu-submenu
  .menu-item
  > .menu-link
  .menu-bullet.menu-bullet-dot
  > span {
  background-color: #cbdaf9 !important;
}

.table-filter {
  max-width: 60px !important;
}
.table-search {
  max-width: 200px !important;
}
.nav.nav-tabs .nav-item {
  margin-right: 0 !important;
  /*background-color: white !important;*/
  background: #fdfdfd !important;
  border: 1px solid #eeeeee !important;
  margin-left: -1px !important;
}
.nav.nav-tabs .nav-item {
  /*border-right: 0.5px solid grey !important;*/
}
.radius-5px {
  border-radius: 10px !important;
}
.radius-10px {
  border-radius: 10px !important;
}
.btn-radius {
  border-radius: 25px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.modal .modal-header .close span {
  margin-top: 10px !important;
  display: block !important;
  color: grey !important;
}
.modal-header-custom {
  border-bottom: none !important;
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}

.inValid {
  border: 1.6px solid red !important;
}

.approve-card {
  height: 130px;
  overflow-y: auto;
}

.pilot-card {
  height: 195px;
  overflow-y: auto;
}

.performance-card {
  height: 270px;
  overflow-y: auto;
}

.text-red {
  color:red;
}

.font-14 {
  font-size: 14px !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.uppercase {
  text-transform: uppercase !important;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
.readonly {
  background-color: #F3F6F9 !important;
}
.month-picker {
  /*width: 307px !important;*/
  /*width: 157% !important;*/
}
/*.datepicker,
.table-condensed {
  width: 250px;
  height:270px;
}*/
.react-datepicker-wrapper {
  width: 100%;
  /*background-color: red;*/
}
.react-datepicker__input-container {
  /*width: 100%;*/
}
/*.react-datepicker__input-container */
/*.comp-datepicker {
  width: 100% !important;
  max-width: 100% !important;
}*/



/*Upload*/

.upload-wrapper {
  position: relative;
  /*overflow: hidden;*/
  display: inline-block;
  width: 110px;
  height: 125px;
  /*border: 1px solid grey;
    padding: 3px;*/
}

.upload-preview {
  /*background: url('/media/icons/upload.png');*/
  /*padding: 8px 20px;*/
  background-size: cover;
  border: none;
  width: 110px;
  height: 125px !important;
  cursor: pointer;
}

.upload-wrapper input[type="file"] {
  /*position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 110px;
  height: 125px;*/
  /*top: 20%;*/
  /*background-color: red;*/
  /*border-radius: 50%;*/
  /*margin-left: 20px;*/
  /*padding-top: 10px;*/
  position: absolute;
  height: 39px;
  width: 39px;
  margin-left: 3px;
  opacity: 0;
}

.upload-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: silver;
}

.upload-wrapper:hover .upload-overlay {
  opacity: 0.5;
}

.upload-wrapper:hover .icon-upload {
  opacity: 1;
}
.upload-wrapper:hover .icon-show {
  opacity: 1;
}

.icon-upload {
  position: absolute;
  width: 39px;
  opacity: 0;
  /*border-radius: 50%;*/

}
.icon-show {
  position: absolute;
  width: 39px;
  opacity: 0;
  /*border-radius: 50%;*/
}
.icon-upload i {
  /*position: absolute;*/
  /*padding-right: 2px;*/
}
.icon-show i {
  /*margin-top: 4px;*/
  /*position: absolute;*/
}
.display-none {
  display:none;
}