@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(../../../_metronic/_assets/fonts/AvenirLTStd-Roman.otf);
}


* {
	font-family: 'Avenir';
}

.borderless td, .borderless th {
    border: none;
    padding:10px;
}

.borderless td:nth-child(2) {
    border: 0.1px solid #ccc; border-width: 0 0 0 0.1px;
}


.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.col-md-6 p {
	margin-bottom: 20px;	
}

.col-md-6 p:nth-child(1) {
	font-weight: 800;
}

.col-md-6 p:nth-child(2) {
	font-weight: 500;
}

.container h1 {
	font-weight: 900;
}

.card h5 {
	font-weight: 800;
}

.b-500 {
	font-weight: 500;
}

.sertifikat th, td {
	padding: 10px;	
}

.sertifikat th {
	background-color: #F4F5F7;
	font-size: 16px;
}

.sertifikat th:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.sertifikat th:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sertifikat tr:nth-child(even) {
  	background-color: #FDFDFD;
  	border-style: solid;
	border-width: 0.1px;
	border-color: #EBEBEB;
	border-radius: 5px;
}

.card {
	background-color: #FFFFFF;
	border-radius: 5px;
}

.loga {
	margin-top: 10px;
	background-color: #FDFDFD;
	border-style: solid;
	border-width: 0.1px;
	border-color: #EBEBEB;
	border-radius: 5px;
}

.loga table{
	margin:10px;
}

.container {
	background: #F4F5F7;
}

.subtitle a {
	color: #CCCCCC;
	font-weight: 800;
	margin-bottom: 30px;
}

.download {
	font-size: 12px;
	color: #636363;
	text-decoration: underline;
	font-weight: 800;
}

.namefile {
	font-size: 17px;
	font-weight: 800;
}

.filecolumn {
	width: 155px;
}

.filecolumn div img {
	width:30px;
	height:30px;
	align-self: center;
	margin-right: 10px;
}

.card {
	padding:3rem;
}

.expired p {
	color: #A3A3A3;
}

.expired div img {
	width: 10px;
	height: 10px;
}

.expired div {
	background-color: #F0F0F0;
	width: 25px;
	height: 25px;
	align-self: center;
	padding-left: 8px;
	margin-bottom: 10px;
}

.sertifikat {
	width: 100%;
	margin-left: 10px;
}

.thumb {
	width: 196px; 
	height: 133px;
}

.thumb-upload {
	width: 100px; 
	height: 100px;
}

.btn-primary {
	background-color: #2269FF !important;	
	border-radius: 30px !important;
	padding: 10px 30px !important;
	font-weight: 900 !important;
}